// @import '';

@mixin flex-manager($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        direction: rtl;
        .intro {
            @include flex-manager(row, center, center);
            background-image: url(../assets/images/back3.jpg);
            height: 550px;
            div {
                @include flex-manager(row, center, center);
                width: 50%;
                .right-side-detail {
                    @include flex-manager(column, center, center);
                    p {
                        text-align: right;
                    }
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 17px;
                        width: 150px;
                        height: 70px;
                        margin: 35px 14px 0 0;
                        padding: 10px 20px;
                        border-color: #036af5;
                        border-radius: 16px;
                        background-color: #036af5;
                    }
                }
            }
        }
    }
}