<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styel.css">
    <title>کلاسینو | تیر نهایی</title>
</head>
<body>
    <section class="intro">
        <div class="right-side">
            <div class="right-side-detail">
                <h1>رتبه کنکور را <span>تیر نهایی</span> می دهد</h1>
                <p>
                    کلاسینو یه دوره کامل به اسم تیر نهایی طراحی کرده
                    که برای زمان بین کنکور اردیبهشت و تیر ۱۴۰۳ بهترینه
                    و خیالت از قبولی تو امتحان نهایی و کنکور تیرماهت راحته.
                </p>
                <a href="#">رایگان تجربه کن</a>
            </div>
        </div>
        <div class="left-side">

        </div>
    </section>







    <script src="../js/index.js"></script>
</body>
</html>